body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333; /* Dunkelgrauer Hintergrund */
    font-family: 'Open Sans', sans-serif; /* Open Sans Schriftart */
    color: white; /* Textfarbe */
}

#game-board {
    display: flex;
    flex-wrap: wrap;
    width: 306px; /* Anpassung der Breite des Spielfelds */
    height: 306px; /* Anpassung der Höhe des Spielfelds */
    margin: 20px; /* Außenabstand */
    box-sizing: border-box;
}

.field {
    width: 100px; /* Breite eines Feldes */
    height: 100px; /* Höhe eines Feldes */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em; /* Größe der Spielmarkierungen */
    box-sizing: border-box;
}

/* Hinzufügen der inneren vertikalen Linien */
.field:nth-child(2), .field:nth-child(5), .field:nth-child(8) {
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

/* Hinzufügen der inneren horizontalen Linien */
.field:nth-child(4), .field:nth-child(5), .field:nth-child(6) {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

.field:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}
